{% block content %}
<div class="note">
  {% if item.luokat | length > 0 %}
    <div class="categories">
      {% for luokka in item.luokat %}
        <a href="{{base_path}}/list/{{luokka.nimi}}">
          <mark style="background: {{luokka.vari}};">{{luokka.nimi}}</mark>
        </a>
      {% endfor %}
    </div>
  {% endif %}
  <div class="lead">
    <a href="{{base_path}}/view/{{item.id}}">{{ item.teksti | nl2br }}</a>
  </div>
  <div class="clearfix">
    <small class="text-muted pull-left priority">Tärkeys: <mark>{{ item.tarkeysaste }}</mark></small>
    <small class="text-muted pull-right date">Luotu {{ item.luontipaiva | date("d.m.Y H.i") }}</small>
  </div>

  <div class="tools">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-success" href="{{base_path}}/edit/{{item.id}}" role="button">Muokkaa</a>
      <a class="btn btn-danger" href="{{base_path}}/remove/{{item.id}}" role="button">Poista</a>
    </div>
  </div>
</div>
{% endblock %}
