<div class="form-group">
  <label>Muistiinpanon sisältö</label>
  <textarea class="form-control" name="teksti" rows="3" maxlength="400">{{item.teksti}}</textarea>
</div>
<input type="hidden" name="id" value="{{item.id}}">
<div class="form-group">
  <div>
    <label>Tärkeys</label>
  </div>
  <span class="star-cb-group">
    <input type="radio" id="tarkeysaste-5" name="tarkeysaste" value="5" {% if item.tarkeysaste is same as(5) %}checked="checked"{% endif %} /><label for="tarkeysaste-5">5</label>
    <input type="radio" id="tarkeysaste-4" name="tarkeysaste" value="4" {% if item.tarkeysaste is same as(4) %}checked="checked"{% endif %} /><label for="tarkeysaste-4">4</label>
    <input type="radio" id="tarkeysaste-3" name="tarkeysaste" value="3" {% if item.tarkeysaste is same as(3) %}checked="checked"{% endif %} /><label for="tarkeysaste-3">3</label>
    <input type="radio" id="tarkeysaste-2" name="tarkeysaste" value="2" {% if item.tarkeysaste is same as(2) %}checked="checked"{% endif %} /><label for="tarkeysaste-2">2</label>
    <input type="radio" id="tarkeysaste-1" name="tarkeysaste" value="1" {% if item.tarkeysaste is same as(1) %}checked="checked"{% endif %} /><label for="tarkeysaste-1">1</label>
  </span><br>
  <label><input type="radio" name="tarkeysaste" value="0"> Poista tärkeysaste</label>
</div>

<!-- TODO: javascript lisää tälle värimahdollisuuden -->
<div class="form-group">
  <label>Luokat <small>(erottele pilkulla)</small></label>
  <input type="text" class="form-control" name="luokat" value="{{item.luokatString}}">
</div>

<a href="{{base_path}}/luokat" target="_blank" rel="nofollow noopener">Saatavilla olevat luokat - avautuu uuteen ikkunaan</a>

<div class="input-group">
  <button class="btn btn-success" type="submit">Tallenna</button>
  <button class="btn btn-danger" type="reset">Peruuta</button>
</div>
