{% block content %}
<div class="note">
  <div class="lead">
    <a href="{{base_path}}/view/{{item.id}}">{{ item.teksti | nl2br }}</a>
  </div>
  <div class="clearfix">
    <small class="text-muted pull-left priority">Tärkeys: <mark>{{ item.tarkeysaste }}</mark></small>
    <small class="text-muted pull-right date">Luotu {{ item.luontipaiva | date("d.m.Y H.i") }}</small>
  </div>

  <div class="tools">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-success" href="{{base_path}}/edit/{{id}}" role="button">Muokkaa</a>
      <a class="btn btn-danger" href="{{base_path}}/remove/{{id}}" role="button">Poista</a>
    </div>
  </div>
</div>
{% endblock %}
