#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.note {
  transition: all 0.3s ease-in-out;
  cursor: none;
  padding: 20px;
  box-shadow: 0px 0px 1px rgba(132, 132, 132, 0.5);
  margin-bottom: 20px;
  border-radius: 1px;
  background: linear-gradient(-20deg, #fdfdfd, transparent 70%);
  overflow: hidden;
  position: relative;
}

.note:hover {
  transform: rotate(-3deg);
  box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.5);
  // background: linear-gradient(57deg, rgba(255, 0, 200, 0.18), transparent 60%), linear-gradient(-20deg, rgba(255, 243, 0, 0.3), transparent 60%), linear-gradient(181deg, rgba(0, 255, 67, 0.18), transparent 60%);
}

.note:hover:after {
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(57deg, rgba(255, 0, 200, 0.18), transparent 60%), linear-gradient(-20deg, rgba(255, 243, 0, 0.3), transparent 60%), linear-gradient(181deg, rgba(0, 255, 67, 0.18), transparent 60%);
  background-size: cover;
  content: '';
  -webkit-animation: spinX 2s linear infinite;
  animation: spinX 2s linear infinite;
  pointer-events: none;
}

.single-note .note:hover:after {
  animation: none;
  -webkit-animation: none;
}

@-webkit-keyframes spinX {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spinX {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.note .lead a {
  color: #333;
}

.note .tools {
  transition: all 0.3s;
  opacity: 0;
}

.note .tools a,
.note .tools a:active  {
  background: transparent;
  border: none;
}

.note .tools a.btn-success {
  color: #5cb85c;
}

.note .tools a.btn-success:hover {
  color: #449d44;
}

.note .tools a.btn-danger {
  color: #d9534f;
}

.note .tools a.btn-danger:hover {
  color: #c9302c;
}

.note:hover .tools {
  opacity: 1;
}

.create-note-container {
  display: none;
}

.add-note .create-note-container {
  display: inherit;
}

label.magic {
  cursor: pointer;
  font-size: 21px;
  font-weight: 100;
}

label.magic::before {
  content: '✏️ ';
  padding-right: 20px;
  width: 50px;
  display: inline-block;
}

input#toggle-perkele:checked~label.magic::before {
  content: '📝';
}

input#toggle-perkele {
  display: none;
}
input#toggle-perkele:checked ~ div {
  display: block;
}

.create-note button {
  margin-right: 10px;
  padding: 6px 32px;
}

.colorbox {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  position: relative;
  top: 5px;
}

.form-group.error {
  background: #fff555;
  padding: 20px;
  border-radius: 6px;
}
.form-group.error:after {
  display: block;
  content: 'Pakollinen kenttä!';
  background: #c32020;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 6px;
}



/* ⭐ https://codepen.io/lsirivong/pen/ekBxI */
.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 3rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.star-cb-group:hover > input + label:before,
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "🐴";
  // content: "☆";
  color: #888;
}

.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before,
.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
  content: "🤡";
  // content: "★";
  color: #ffca29;
}

.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: 0.5em;
}

/* jepjep */
#emoji {
  position: absolute;
  display: none;
}

#emoji.active {
  display: inherit;
}

#emoji:after {
  position: absolute;
  display: block;
  content: '🦄';
  width: 20px;
  height: 20px;
  left: 0;
  font-size: 4rem;
}
