#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.note {
  transition: all 0.3s ease-in-out;
  cursor: default;
  padding: 20px;
  box-shadow: 0px 0px 1px rgba(132, 132, 132, 0.5);
  margin-bottom: 20px;
  border-radius: 1px;
  background: linear-gradient(-20deg, #fdfdfd, transparent 70%);
}

.note .lead a {
  color: #333;
}

.note .tools {
  transition: all 0.3s;
  opacity: 0;
}

.note .tools a,
.note .tools a:active  {
  background: transparent;
  border: none;
}

.note .tools a.btn-success {
  color: #5cb85c;
}

.note .tools a.btn-success:hover {
  color: #449d44;
}

.note .tools a.btn-danger {
  color: #d9534f;
}

.note .tools a.btn-danger:hover {
  color: #c9302c;
}

.note:hover {
  box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.5);
  background: linear-gradient(-20deg, rgba(241, 241, 241, 0.4), transparent 60%);
}

.note:hover .tools {
  opacity: 1;
}

.create-note-container {
  display: none;
}

.add-note .create-note-container {
  display: inherit;
}

label.magic {
  cursor: pointer;
  font-size: 21px;
  font-weight: 100;
}

label.magic::before {
  content: '✏️ ';
  padding-right: 20px;
  width: 50px;
  display: inline-block;
}

input#toggle-perkele:checked~label.magic::before {
  content: '📝';
}

input#toggle-perkele {
  display: none;
}
input#toggle-perkele:checked ~ div {
  display: block;
}

.create-note button {
  margin-right: 10px;
  padding: 6px 32px;
}





/* ⭐ https://codepen.io/lsirivong/pen/ekBxI */
.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 3rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.star-cb-group:hover > input + label:before,
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}

.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before,
.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
  content: "★";
  color: #ffca29;
}

.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: 0.5em;
}
