{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa!</h1>
    <p>
      Tällä maanmainiolla ja ihanalla verkkosivustolla voit tallentaa kaikki tärkeät askareesi ja hukata ne myöhemmin.<br>
      Tätä voi käyttää vaikka kotiaskareiden 📝 ✏️ tallentamiseen, ihastuksesi 😍 puhelinnumeron tallentamiseen tai sekalaisten ajatustesi tallentamiseen 💩.<br><br>
      Tämä on monin kerroin parempi ja yksinkertaisempi palvelu kuin mikään muu maailmalla 🌍 oleva, älä käytä niitä, ne on halpakopioita.<br><br>

      Ystävällisin terveisin,<br>
      &nbsp; - Hevonen 🐴
    </p>
  </div>

  {% if user_logged_in %}
    <div class="container">
      <p>
        <a class="btn btn-primary btn-lg" href="{{base_path}}/list" role="button">Siirry askarelistaan tästä</a>
      </p>
    </div>
    <hr>
  {% endif %}

  {% if user_logged_in == false %}
    <div class="container">
      <p>
        <a class="btn btn-primary btn-lg" href="{{base_path}}/login" role="button">Kirjaudu sisään</a>
        <a class="btn btn-success btn-lg" href="{{base_path}}/signup" role="button">Luo tunnus</a>
      </p>
    </div>
    <hr>
  {% endif %}

  <div class="container">
    <p>
      <a href="http://tsoha.github.io" class="btn btn-info">Tsohan materiaalit löytyy täältä <span class="glyphicon glyphicon-chevron-right"></span></a>
    </p>
  </div>
{% endblock %}
