{% block content %}
<div class="askare">
  {% if item.luokat | length > 0 %}
    <div class="categories">
      {% for luokka in item.luokat %}
        <a href="{{base_path}}/luokat/{{luokka.nimi}}"><mark style="background: {{luokka.vari}};">{{luokka.nimi}}</mark></a>
      {% endfor %}
    </div>
  {% endif %}
  <div class="lead">
    <a href="{{base_path}}/view/{{item.id}}">{{ item.teksti | nl2br }}</a>
  </div>
  {% if item.tarkeysaste > 0 %}
    <div>
    <span class="text-muted priority">Tärkeys:
      {% for i in range(1, item.tarkeysaste) %}
        🤡
      {% endfor %}
      </span>
    </div>
  {% endif %}
  <small class="text-muted date">Luotu {{ item.luontipaiva | date("d.m.Y H.i") }}</small>

  <div class="tools">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-success" href="{{base_path}}/edit/{{item.id}}" role="button">Muokkaa</a>
      <a class="btn btn-danger" href="{{base_path}}/remove/{{item.id}}" role="button">Poista</a>
    </div>
  </div>
</div>
{% endblock %}
